{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block section_content %}
<h2>Startup checklist</h2>
<ul>
    <li>Feedline(coiled) attached to Yaesu-Ft710</li>
    <li>Feedline(uncoiled) attached to Anytone</li>
    <li>Break-In on</li>
    <li>Transmit prohibit off</li>
    <li>Straight key plugged in with keyer off</li>
    <li>Paddle plugged in with keyer on</li>
</ul>
<h2>RAC Bandplan</h2>
<p>Check the RAC Bandplan page for the <a href="https://www.rac.ca/operating/bandplans">full plan</a>.</p>
{% endblock %}
